// Your styles go here
@import "@fortawesome/fontawesome-free/css/all.css";
$primary: #d63384;
@import "bootstrap/scss/bootstrap";

.mainContainer {
  padding: 0 5%;
}
h1, p.lead {
  color: black;
}
h2 {
  color: #d63384;
}
.hero {
  background: linear-gradient(45deg, $primary, white);
}

.planTable {
  th {
    border-top: 2px solid $primary;
    border-bottom: 2px solid $primary;
  }
  .table-active {
    color: white;
    background-color: $primary;
  }
}

.galleryHeader {
  padding: 35px;
}

.footerBIcon {
  color: $primary;
  font-size: 40px;
}